In [17]:
import pandas as pd
import re

In [6]:
train_filename = 'updatedTrainingData'  # Name of the file used to train the model
test_filename = 'DevelopmentData'  # Name of the file used to test the model
label = 'UNIQUE_ID'  # Name of the column providing row labels (e.g. Name, ID number, Client Number)
first_feat_index = 9  # Column index of the first feature
feat_start = 0
last_feat_index = -1  # Column index of the last feature
target_var = 'Retained'  # Name of the target column
prot_var = 'Protected_Group'  # Name of the protected group column

In [7]:
train_data = pd.read_csv('Data/{}.csv'.format(train_filename))
test_data = pd.read_csv('Data/{}.csv'.format(test_filename))
test_data = test_data.fillna(test_data.mean())
labels = train_data[label]
target = train_data[target_var]
prot_group = train_data[prot_var]
high_perf = train_data["High_Performer"].dropna()
retained = train_data["Retained"]
test_labels = test_data[label]

In [10]:
train_data.columns

Index(['UNIQUE_ID', 'Overall_Rating', 'Technical_Skills', 'Teamwork',
       'Customer_Service', 'Hire_Again', 'High_Performer', 'Protected_Group',
       'Retained', 'SJ_Most_1',
       ...
       'SJ_Most_9_Results', 'SJ_Least_1_Results', 'SJ_Least_2_Results',
       'SJ_Least_3_Results', 'SJ_Least_4_Results', 'SJ_Least_5_Results',
       'SJ_Least_6_Results', 'SJ_Least_7_Results', 'SJ_Least_8_Results',
       'SJ_Least_9_Results'],
      dtype='object', length=164)

In [18]:
def filter_cols(df, regex):
    rec = re.compile(regex)
    cols = list(df.columns)
    to_drop = [col for col in cols if rec.match(col)]
    new_df = df.drop(to_drop, axis=1)
    return new_df

In [21]:
def filter_cols_multi(df, lst):
    for regex in lst:
        df = filter_cols(df, regex)
    return df

In [19]:
test = pd.DataFrame({'a': [1,2,3], 'b00': [4,5,6], 'bab': [7,8,9]})

In [22]:
filter_cols_multi(test, [r'b..'])

   a
0  1
1  2
2  3

In [ ]:
any()