# Predicting protected feature
Robin Burke, March 16, 2020

The idea here is to predict the protected feature so that if we have segregated predictors, we'll know what instances use which one.

In [11]:
import pandas as pd
from sklearn.linear_model import LogisticRegressionCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from catboost import CatBoostClassifier

import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Data/TrainingData.csv')

cols = data.columns

print (data.shape)

data.head()

(44102, 130)

,UNIQUE_ID,Overall_Rating,Technical_Skills,Teamwork,Customer_Service,Hire_Again,High_Performer,Protected_Group,Retained,SJ_Most_1,...,PScale12_Q1,PScale12_Q2,PScale12_Q3,PScale12_Q4,PScale13_Q1,PScale13_Q2,PScale13_Q3,PScale13_Q4,PScale13_Q5,split
0,245021089,3.0,3.0,4.0,4.0,4.0,0.0,0.0,1,3.0,...,1.0,1.0,3.0,4.0,1.0,2.0,3.0,2.0,1.0,train
1,245181465,5.0,5.0,5.0,5.0,5.0,1.0,1.0,0,3.0,...,1.0,1.0,4.0,4.0,2.0,1.0,4.0,4.0,4.0,train
2,229682665,3.0,3.0,3.0,3.0,4.0,0.0,1.0,0,2.0,...,1.0,1.0,4.0,4.0,1.0,1.0,4.0,4.0,4.0,train
3,245174982,4.0,4.0,4.0,4.0,5.0,1.0,0.0,1,2.0,...,1.0,1.0,2.0,4.0,1.0,1.0,3.0,3.0,3.0,train
4,244979030,2.0,2.0,3.0,2.0,3.0,0.0,0.0,1,3.0,...,2.0,1.0,4.0,4.0,2.0,1.0,4.0,3.0,2.0,train

In [3]:
data = data[data['Protected_Group'].notna()]
data.shape

(44095, 130)

In [4]:
bio_cols = list(cols[cols.str.contains('Biodata_')]) + ['Protected_Group']
bio_df = data.loc[:, bio_cols].copy()
bio_df.dropna(inplace=True)
bio_df = bio_df.astype('int')

bio_df.head()

,Biodata_01,Biodata_02,Biodata_03,Biodata_04,Biodata_05,Biodata_06,Biodata_07,Biodata_08,Biodata_09,Biodata_10,...,Biodata_12,Biodata_13,Biodata_14,Biodata_15,Biodata_16,Biodata_17,Biodata_18,Biodata_19,Biodata_20,Protected_Group
0,2,3,2,2,2,1,3,7,2,5,...,2,4,1,2,5,2,1,4,1,0
1,2,5,5,2,3,1,1,5,2,6,...,1,4,3,2,5,2,4,6,1,1
2,2,3,1,1,2,2,2,8,5,7,...,2,1,2,2,5,2,5,1,1,1
3,2,1,2,7,1,1,2,1,7,1,...,2,4,3,2,5,7,7,2,1,0
4,3,1,6,6,1,3,2,1,1,1,...,2,4,4,3,1,3,1,3,1,0

In [5]:
bio_sc = scale(bio_df.iloc[:,0:20])
bio_sc

array([[-0.05119484, -0.14159876, -1.15584344, ..., -1.76582747,
         0.18721026, -0.29641447],
       [-0.05119484,  1.02221612,  0.76082483, ..., -0.19518686,
         1.34301528, -0.29641447],
       [-0.05119484, -0.14159876, -1.79473286, ...,  0.32836001,
        -1.54649728, -0.29641447],
       ...,
       [-1.09932421,  1.02221612,  0.76082483, ..., -0.71873373,
         1.9209178 , -0.29641447],
       [-0.05119484,  2.186031  , -0.51695402, ...,  0.32836001,
         1.34301528, -0.29641447],
       [-0.05119484,  0.44030868,  0.76082483, ..., -0.71873373,
         0.76511277, -0.29641447]])

In [6]:
clf = LogisticRegressionCV(cv=5, random_state=20200314).fit(bio_sc, bio_df['Protected_Group'])
clf.score(bio_sc, bio_df['Protected_Group'])

0.6926365445566448

Not that good.

In [18]:
clf = RandomForestClassifier(max_depth=2, random_state=20200314)
scores = cross_val_score(clf, bio_sc, bio_df['Protected_Group'], cv=5)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.69 (+/- 0.00)

In [8]:
bio_df.iloc[:,0:20]

,Biodata_01,Biodata_02,Biodata_03,Biodata_04,Biodata_05,Biodata_06,Biodata_07,Biodata_08,Biodata_09,Biodata_10,Biodata_11,Biodata_12,Biodata_13,Biodata_14,Biodata_15,Biodata_16,Biodata_17,Biodata_18,Biodata_19,Biodata_20
0,2,3,2,2,2,1,3,7,2,5,2,2,4,1,2,5,2,1,4,1
1,2,5,5,2,3,1,1,5,2,6,1,1,4,3,2,5,2,4,6,1
2,2,3,1,1,2,2,2,8,5,7,1,2,1,2,2,5,2,5,1,1
3,2,1,2,7,1,1,2,1,7,1,1,2,4,3,2,5,7,7,2,1
4,3,1,6,6,1,3,2,1,1,1,1,2,4,4,3,1,3,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44097,2,1,3,7,1,1,2,1,7,1,1,1,4,2,2,5,7,7,4,1
44098,1,7,5,1,2,1,1,7,4,5,1,1,4,1,1,5,1,6,4,1
44099,1,5,5,5,2,1,1,6,3,3,1,1,4,1,1,5,1,3,7,1
44100,2,7,3,1,1,2,1,7,5,6,1,1,4,2,2,5,1,5,6,1
44101,2,4,5,6,2,1,2,4,1,4,1,2,3,3,1,4,2,3,5,1

In [9]:
clf = CatBoostClassifier(iterations=3,
                           depth=3,
                           learning_rate=0.1,
                           loss_function='Logloss',
                         cat_features=range(0, 20),
                           verbose=False)
scores = cross_val_score(clf, bio_df.iloc[:,0:20], bio_df['Protected_Group'], cv=5)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.69 (+/- 0.00)

Not any better treating the features as categorical.

## Try with PCA features

In [12]:
pca = PCA(n_components=10)
pca.fit(bio_sc)
pca.explained_variance_ratio_.sum()

0.8266856884500944

In [13]:
bio_xf = pca.transform(bio_sc)

In [14]:
clf = LogisticRegressionCV(cv=5, random_state=20200314).fit(bio_xf, bio_df['Protected_Group'])
clf.score(bio_xf, bio_df['Protected_Group'])

0.6916046288788973

Not any better, but not any worse either.

## Try with additional features
Add time required to answer various questions as another "bio" feature.

In [15]:
bio_time_cols = list(cols[cols.str.contains('Biodata_')]) + \
    list(cols[cols.str.contains('Time_')]) + ['Protected_Group']
bio_time_df = data.loc[:, bio_time_cols].copy()
bio_time_df.dropna(inplace=True)
bio_time_df = bio_time_df.astype('int')

print(bio_time_df.shape)

bio_time_df.head()

(40326, 30)

,Biodata_01,Biodata_02,Biodata_03,Biodata_04,Biodata_05,Biodata_06,Biodata_07,Biodata_08,Biodata_09,Biodata_10,...,SJ_Time_1,SJ_Time_2,SJ_Time_3,SJ_Time_4,SJ_Time_5,SJ_Time_6,SJ_Time_7,SJ_Time_8,SJ_Time_9,Protected_Group
0,2,3,2,2,2,1,3,7,2,5,...,95,101,39,69,65,64,37,64,73,0
1,2,5,5,2,3,1,1,5,2,6,...,53,57,43,53,40,32,39,43,103,1
2,2,3,1,1,2,2,2,8,5,7,...,89,73,90,100,78,66,65,81,70,1
3,2,1,2,7,1,1,2,1,7,1,...,110,86,52,109,103,72,79,59,140,0
4,3,1,6,6,1,3,2,1,1,1,...,35,21,32,81,46,32,31,37,71,0

In [17]:
clf = RandomForestClassifier(max_depth=3, random_state=20200314)
scores = cross_val_score(clf, bio_time_df, bio_time_df['Protected_Group'], cv=5)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 1.00 (+/- 0.00)

Whoa!