In [1]:
import pandas as pd

In [57]:
x = pd.read_csv("C:/Users/Ian/Box Sync/Internal/Internal Initiatives/SIOP ML Competition 2020/Data/TrainingData.csv")

C:\Users\Ian\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
def scorer(x, best, worst):
    if x == best:
        return 1
    if x == worst:
        return -1
    else:
        return 0

In [53]:
def judgementScoring(sjItem, raw):
    df = raw[sjItem]
    counts = pd.DataFrame(df.value_counts())
    df = pd.DataFrame(df)
    counts = counts.reset_index()
    best = counts.iloc[0][0]
    worst = counts.iloc[-1][0]
    df['{}_score'.format(sjItem)] = df[sjItem].apply(lambda x: scorer(x, best, worst))
    return df['{}_score'.format(sjItem)]

In [60]:
mosts = x.filter(regex="SJ_Most.*", axis=1)

  SJ_Most_1 SJ_Most_2 SJ_Most_3 SJ_Most_4 SJ_Most_5 SJ_Most_6 SJ_Most_7  \
0         3         3         1         1         2         2         4
1         3         3         1         1         2         3         1
2         2         1         1         1         1         2         1
3         2         1         1         1         2         4         1
4         3         3         1         2         2         2         1

  SJ_Most_8 SJ_Most_9
0         1         1
1         1         2
2         1         1
3         2         3
4         1         1

In [61]:
for column in list(mosts.columns):
    df1 = pd.DataFrame(judgementScoring(column, mosts))
    if list(mosts.columns).index(column) == 0:
        out = df1
    else:
        out = out.join(df1)

In [62]:
out

,SJ_Most_1_score,SJ_Most_2_score,SJ_Most_3_score,SJ_Most_4_score,SJ_Most_5_score,SJ_Most_6_score,SJ_Most_7_score,SJ_Most_8_score,SJ_Most_9_score
0,1,1,1,1,1,0,0,1,0
1,1,1,1,1,1,1,1,1,1
2,0,0,1,1,0,0,1,1,0
3,0,0,1,1,1,0,1,0,0
4,1,1,1,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...
44097,1,1,1,0,1,0,0,0,0
44098,1,1,1,0,1,0,1,1,0
44099,1,1,1,1,1,1,1,1,0
44100,0,1,1,1,1,0,1,0,0
44101,-1,0,-1,-1,-1,-1,-1,-1,-1