In [1]:
import pandas as pd

In [2]:
x = pd.read_csv("C:/Users/Ian/Box Sync/Internal/Internal Initiatives/SIOP ML Competition 2020/Data/TrainingData.csv")

In [57]:
def scenarioScoring(scenario, raw):
    df = pd.DataFrame(raw[scenario])
    mode = df.mode().iloc[0][0]
    df['{}_score'.format(scenario)] = df[scenario].apply(lambda x: abs(x - mode))
    print(df)
    return pd.DataFrame(df['{}_score'.format(scenario)])

In [58]:
l =  ['Scenario1_1','Scenario1_2','Scenario1_3','Scenario1_4','Scenario1_5','Scenario1_6','Scenario1_7','Scenario1_8',
      'Scenario2_1','Scenario2_2','Scenario2_3','Scenario2_4','Scenario2_5','Scenario2_6','Scenario2_7','Scenario2_8']

for obj in l:
    df1 = scenarioScoring(obj, x)
    if l.index(obj) == 0:
        out = df1
    else:
        out = out.join(df1)

       Scenario1_1  Scenario1_1_score
0              1.0                0.0
1              1.0                0.0
2              1.0                0.0
3              1.0                0.0
4              1.0                0.0
...            ...                ...
44097          1.0                0.0
44098          1.0                0.0
44099          1.0                0.0
44100          1.0                0.0
44101          1.0                0.0

[44102 rows x 2 columns]
       Scenario1_2  Scenario1_2_score
0              1.0                0.0
1              1.0                0.0
2              1.0                0.0
3              1.0                0.0
4              0.0                1.0
...            ...                ...
44097          1.0                0.0
44098          1.0                0.0
44099          1.0                0.0
44100          1.0                0.0
44101          1.0                0.0

[44102 rows x 2 columns]
       Scenario1_3  Scenario1_3_score
0              1.0                0.0
1              1.0                0.0
2              1.0                0.0
3              1.0                0.0
4              1.0                0.0
...            ...                ...
44097          1.0                0.0
44098          1.0                0.0
44099          1.0                0.0
44100          1.0                0.0
44101          1.0                0.0

[44102 rows x 2 columns]
       Scenario1_4  Scenario1_4_score
0              4.0                0.0
1              4.0                0.0
2              4.0                0.0
3              4.0                0.0
4              4.0                0.0
...            ...                ...
44097          4.0                0.0
44098          4.0                0.0
44099          4.0                0.0
44100          4.0                0.0
44101          4.0                0.0

[44102 rows x 2 columns]
       Scenario1_5  Scenario1_5_score
0              1.0                0.0
1              1.0                0.0
2              1.0                0.0
3              1.0                0.0
4              1.0                0.0
...            ...                ...
44097          1.0                0.0
44098          1.0                0.0
44099          1.0                0.0
44100          1.0                0.0
44101          1.0                0.0

[44102 rows x 2 columns]
       Scenario1_6  Scenario1_6_score
0              2.0                0.0
1              2.0                0.0
2              1.0                1.0
3              2.0                0.0
4              2.0                0.0
...            ...                ...
44097          2.0                0.0
44098          2.0                0.0
44099          2.0                0.0
44100          2.0                0.0
44101          2.0                0.0

[44102 rows x 2 columns]
       Scenario1_7  Scenario1_7_score
0              0.0                0.0
1              0.0                0.0
2              2.0                2.0
3              0.0                0.0
4              0.0                0.0
...            ...                ...
44097          0.0                0.0
44098          0.0                0.0
44099          0.0                0.0
44100          0.0                0.0
44101          0.0                0.0

[44102 rows x 2 columns]
       Scenario1_8  Scenario1_8_score
0              4.0                0.0
1              4.0                0.0
2              4.0                0.0
3              4.0                0.0
4              4.0                0.0
...            ...                ...
44097          4.0                0.0
44098          4.0                0.0
44099          4.0                0.0
44100          4.0                0.0
44101          4.0                0.0

[44102 rows x 2 columns]
       Scenario2_1  Scenario2_1_score
0              4.0                0.0
1              4.0                0.0
2              4.0                0.0
3              4.0                0.0
4              4.0                0.0
...            ...                ...
44097          4.0                0.0
44098          4.0                0.0
44099          4.0                0.0
44100          4.0                0.0
44101          4.0                0.0

[44102 rows x 2 columns]
       Scenario2_2  Scenario2_2_score
0              0.0                0.0
1              0.0                0.0
2              0.0                0.0
3              0.0                0.0
4              0.0                0.0
...            ...                ...
44097          0.0                0.0
44098          0.0                0.0
44099          0.0                0.0
44100          0.0                0.0
44101          0.0                0.0

[44102 rows x 2 columns]
       Scenario2_3  Scenario2_3_score
0              1.0                0.0
1              1.0                0.0
2              1.0                0.0
3              1.0                0.0
4              1.0                0.0
...            ...                ...
44097          1.0                0.0
44098          1.0                0.0
44099          1.0                0.0
44100          1.0                0.0
44101          1.0                0.0

[44102 rows x 2 columns]
       Scenario2_4  Scenario2_4_score
0              3.0                0.0
1              3.0                0.0
2              3.0                0.0
3              3.0                0.0
4              3.0                0.0
...            ...                ...
44097          3.0                0.0
44098          3.0                0.0
44099          3.0                0.0
44100          3.0                0.0
44101          3.0                0.0

[44102 rows x 2 columns]
       Scenario2_5  Scenario2_5_score
0              3.0                0.0
1              3.0                0.0
2              3.0                0.0
3              3.0                0.0
4              3.0                0.0
...            ...                ...
44097          3.0                0.0
44098          3.0                0.0
44099          3.0                0.0
44100          3.0                0.0
44101          3.0                0.0

[44102 rows x 2 columns]
       Scenario2_6  Scenario2_6_score
0              2.0                0.0
1              2.0                0.0
2              2.0                0.0
3              2.0                0.0
4              2.0                0.0
...            ...                ...
44097          2.0                0.0
44098          2.0                0.0
44099          2.0                0.0
44100          2.0                0.0
44101          2.0                0.0

[44102 rows x 2 columns]
       Scenario2_7  Scenario2_7_score
0              0.0                0.0
1              0.0                0.0
2              0.0                0.0
3              0.0                0.0
4              0.0                0.0
...            ...                ...
44097          0.0                0.0
44098          0.0                0.0
44099          0.0                0.0
44100          0.0                0.0
44101          0.0                0.0

[44102 rows x 2 columns]
       Scenario2_8  Scenario2_8_score
0              3.0                0.0
1              3.0                0.0
2              3.0                0.0
3              3.0                0.0
4              3.0                0.0
...            ...                ...
44097          3.0                0.0
44098          3.0                0.0
44099          3.0                0.0
44100          3.0                0.0
44101          3.0                0.0

[44102 rows x 2 columns]

In [67]:
out.groupby(['Scenario2_4_score']).count()

,Scenario1_1_score,Scenario1_2_score,Scenario1_3_score,Scenario1_4_score,Scenario1_5_score,Scenario1_6_score,Scenario1_7_score,Scenario1_8_score,Scenario2_1_score,Scenario2_2_score,Scenario2_3_score,Scenario2_5_score,Scenario2_6_score,Scenario2_7_score,Scenario2_8_score
Scenario2_4_score,,,,,,,,,,,,,,,
0.0,41637,41637,41637,41637,41637,41637,41637,41637,41645,41645,41645,41645,41645,41645,41645
1.0,557,557,557,557,557,557,557,557,557,557,557,557,557,557,557
2.0,317,317,317,317,317,317,317,317,317,317,317,317,317,317,317
3.0,724,724,724,724,724,724,724,724,724,724,724,724,724,724,724
4.0,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
5.0,799,799,799,799,799,799,799,799,800,800,800,800,800,800,800
6.0,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11

In [68]:
final = x[['perfFlag', 'Retained']].join(out)

In [69]:
final.groupby(['perfFlag', 'Retained']).mean()

                   Scenario1_1_score  Scenario1_2_score  Scenario1_3_score  \
perfFlag Retained
0        0                  0.066807           0.101548           0.194227
         1                  0.059129           0.098296           0.180481
1        0                  0.065687           0.113977           0.193761
         1                  0.069011           0.109231           0.192747

                   Scenario1_4_score  Scenario1_5_score  Scenario1_6_score  \
perfFlag Retained
0        0                  0.165363           0.065914           0.187825
         1                  0.143182           0.065200           0.178847
1        0                  0.173965           0.063587           0.188362
         1                  0.138901           0.074725           0.184615

                   Scenario1_7_score  Scenario1_8_score  Scenario2_1_score  \
perfFlag Retained
0        0                  0.180110           0.183994           0.126168
         1                  0.158592           0.169974           0.114159
1        0                  0.190162           0.190162           0.143371
         1                  0.170549           0.176923           0.136294

                   Scenario2_2_score  Scenario2_3_score  Scenario2_4_score  \
perfFlag Retained
0        0                  0.141185           0.174577           0.177465
         1                  0.102428           0.169604           0.156998
1        0                  0.141572           0.183563           0.178764
         1                  0.143548           0.177621           0.175643

                   Scenario2_5_score  Scenario2_6_score  Scenario2_7_score  \
perfFlag Retained
0        0                  0.088470           0.148850           0.120603
         1                  0.084277           0.137154           0.104529
1        0                  0.102280           0.161368           0.123275
         1                  0.093647           0.155199           0.112772

                   Scenario2_8_score
perfFlag Retained
0        0                  0.123228
         1                  0.115968
1        0                  0.142172
         1                  0.116509